<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  
  <div *ngIf="success" class="field is-horizontal"> 
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div> 
    <div class="field-body">
        <div class="field"> 
          <div class="notification is-success">
              <button class="delete" (click)="removeNotice()"></button>
              Thank You! Message send with <strong>Success</strong>
            </div>
        </div>
    </div>
  </div>
  
  <div class="field is-horizontal">

    <div class="field-label is-normal">
      <label class="label">Name</label>
    </div>
    
    <div class="field-body">
      <!-- Name  -->
      <div class="field">
        <p class="control is-expanded has-icons-left">
          <input class="input" type="text" formControlName="name" placeholder="Name" >
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </p>
        <span *ngIf="submitted && contactForm.controls.name.errors">
          <span *ngIf="contactForm.controls.name.errors.required" class="help is-danger">
            This name field is required
          </span>
        </span>
      </div>

      <!-- Email -->
      <div class="field">
        <p class="control is-expanded has-icons-left has-icons-right">
          <input class="input" type="email" formControlName="email" placeholder="Email" required> <!--is-success-->
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <!-- <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span> -->
        </p>
        <span *ngIf="submitted && contactForm.controls.email.errors">
          <span *ngIf="contactForm.controls.email.errors.required" class="help is-danger">
            This email field is required
          </span>
        </span>
      </div>

    </div>

  </div>
  
  <div class="field is-horizontal">
    
    <div class="field-label is-normal">
      <label class="label">Message</label>
    </div>
    
    <!-- Message -->
    <div class="field-body">
      <div class="field">
        <div class="control">
          <textarea class="textarea" formControlName="message" placeholder="Explain how we can help you" required></textarea> <!--is-danger-->
        </div>
        <span *ngIf="submitted && contactForm.controls.message.errors">
          <span *ngIf="contactForm.controls.message.errors.required" class="help is-danger">
            This message field is required
          </span>
        </span>
      </div>
    </div>

  </div>
  
  <div class="field is-horizontal">
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary">
            Send message
          </button>
        </div>
      </div>
    </div>
  </div>
</form>